@import '../../../styles/global.scss';

.container {
  border: 2px solid $color-reddish;
  border-radius: 15px;
  margin: 1rem;
  padding: 10px;
  text-align: center;

  font-family: $font-title;
}

.checkout__title {
  font-family: $font-title;

  text-align: end;
  margin: 2rem;
}

.checkout_list__title {
  font-family: $font-title;
  font-size: $base-size * 1.5;
  margin-bottom: 10px;
}

.checkout_list {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout__name {
  font-size: $base-size * 1.5;
}

.checkout__comment {
  font-size: $base-size;

  text-align: left;
}

.checkout_product__wrapper {
  margin-top: 10px;
  border-bottom: 1px solid $color-reddish;
}

.checkout__total {
  font-size: $base-size * 1.5;
  margin-top: 10px;
  text-align: end;
}

.checkout__form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: start;
}
.checkout__form__button {
  text-align: center;
}

.checkout_error {
  color: $color-light-red;
  font-size: $base-size * 1.5;
  margin-left: 10px;
}

.checkout__form__input {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin: 10px;
  border: 2px solid $color-reddish;
  border-radius: 15px;
  background-color: transparent;
  font-family: $font-title;
  font-size: $base-size * 1.5;
  padding: 10px;
  color: $color-light;
  &:focus {
    outline: none !important;
    border: 1px solid $color-light-red;
    box-shadow: 0 0 5px 0 $color-reddish;
  }
}
