@import '../../../styles/settings.scss';

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: $color-light-red;
  &:hover {
    color: $color-reddish;
    transition: $transition;
  }
}

.navBar__links {
  li {
    display: inline;
    text-align: center;
    font-size: $base-size * 1.5;
    padding: 16px;
    font-weight: bold;
    color: $color-light-red;
  }
}

.navBar__logo {
  display: flex;
  flex-wrap: wrap;

  h2 {
    font-size: 40px;
    font-family: $font-logo;
    padding-top: 8px;
    color: $color-gold;
    text-decoration: none;
    margin-left: $base-size;
    &:hover {
      color: $color-reddish;
      scale: 1.1;
      transition: $transition;
      cursor: pointer;
    }
  }

  h3 {
    font-family: $font-title;
    font-size: 22px;
    font-style: italic;
    padding-top: 31px;
    color: $color-light-red;
    text-decoration: none;
    margin-left: $base-size;
  }

  // &:hover {
  //   color: $color-light;
  //   cursor: pointer;
  // }
}
