@import '../../../styles/settings.scss';

.navBar {
  background-color: darken($color-dark, 3%);
}

.navWrapper {
  display: flex;
  justify-content: space-between;
}

// .icon {
//   font-size: 24px;
//   padding-top: 8px;
// }

.navBar__links {
  list-style-type: none;

  li {
    display: inline;
    text-align: center;
    padding: 16px;
    font-weight: bold;

    a {
      color: $color-light;
      text-decoration: none;
    }
    .linkActive {
      color: $color-warning;
    }
  }
}
