$color-light: rgb(207, 206, 206);
$color-dark: #000000;
$color-gold: #feca6e;
$color-reddish: #840404;
$color-light-red: #dd0602;
$font-text: 'Poppins', sans-serif;
$font-title: 'Nanum Myeongjo', serif;
$font-color-primary: $color-light;
$font-color-secondary: $color-dark;
$font-logo: 'Playfair Display', serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
